/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Layout Styles */
.banner {
    position: fixed; /* Assuming your banner is fixed at the top */
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Adjust the height of your banner */
    background-color: #007bff; /* Banner background color */
    z-index: 1000;
}

.register {
    max-width: 500px;
    margin: 80px auto 50px; /* Adjust the top margin to be greater than the banner height */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* Form Styles */
.form-label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: 600;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #80bdff;
    outline: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-primary:active {
    background-color: #004085;
}

/* Toast Styles */
.react-hot-toast {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .register {
        margin: 100px 20px 20px; /* Adjust the top margin to ensure it is below the banner */
        padding: 15px;
    }
    
    .register h1 {
        font-size: 20px;
    }

    .form-control {
        padding: 8px;
    }

    .btn {
        padding: 8px 15px;
    }
}
